#panorama {
    cursor: pointer;
}

.pnlm-zoom-controls.pnlm-controls {
    display: none !important;
}

.monster1 {
    height: 150px;
    width: 100px;
}

.monster2 {
    height: 70px;
    width: 280px;
}

.monster3 {
    height: 40px;
    width: 70px;
}

.monster4 {
    height: 185px;
    width: 135px;
}

.monster5 {
    height: 210px;
    width: 160px;
}

.monster6 {
    height: 65px;
    width: 50px;
}

.monster7 {
    height: 100px;
    width: 90px;
}

.monster8 {
    height: 195px;
    width: 160px;
}

.monster9 {
    height: 120px;
    width: 90px;
}

.monster10 {
    height: 175px;
    width: 145px;
}

.full-screen-wrapper {
    text-align: center;
    margin: 0 10px;
}

.full-screen-button {
    height: 40px;
}

.bold {
    font-weight: bold;
    font-size: 20px;
}

#endGameMessage {
    display: none;
    font-weight: bold;
    font-size: 20px;
}