#panorama {
    cursor: pointer;
}

.pnlm-zoom-controls.pnlm-controls {
    display: none !important;
}

.monster1 {
    /*background-image: url('monster1.png');*/
    height: 125px;
    width: 90px;
}

.monster2 {
    /*background-image: url('monster2.png');*/
    height: 70px;
    width: 280px;
}

.monster3 {
    /*background-image: url('monster3.png');*/
    height: 40px;
    width: 70px;
}

.monster4 {
    /*background-image: url('monster4.png');*/
    height: 128px;
    width: 114px;
}

.monster5 {
    /*background-image: url('monster5.png');*/
    height: 129px;
    width: 104px;
}

.monster6 {
    /*background-image: url('monster6.png');*/
    height: 43px;
    width: 37px;
}

.monster7 {
    /*background-image: url('monster7.png');*/
    height: 63px;
    width: 99px;
}

.monster8 {
    /*background-image: url('monster8.png');*/
    height: 126px;
    width: 142px;
}

.monster9 {
    /*background-image: url('monster9.png');*/
    height: 83px;
    width: 48px;
}

.monster10 {
    /*background-image: url('monster10.png');*/
    height: 107px;
    width: 96px;
}

.full-screen-wrapper {
    text-align: center;
    margin: 0 10px;
}

.full-screen-button {
    height: 40px;
}

.bold {
    font-weight: bold;
    font-size: 20px;
}

#endGameMessage {
    display: none;
}